.container{
    min-height: 91vh;
    padding: 30px;
    .search_container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
       
        .search-field{
            flex-grow: 1;
            margin-right: 10px;
        }
    }
}

.child{
    margin-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    padding: 20px;
}